body {
  color: black;
}

h1 {
  color: whitesmoke;
}
header#sportsBanner {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/largegrocery.jpg"); */
  background-color: black;

  /* Set a specific height */
  height: 250px;
  opacity: 0.9;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

#sportsTitle {
  text-align: center;
  padding-top: 100px;
  font-size: 72px;
}

/* form {
  width: 400px;
} */

/* Styling for the footer */
footer {
  margin-top: 0px !important;
  bottom: 0;
  width: 100%;
  color: whitesmoke;
}
.page-footer {
  background-color: rgb(77, 77, 77);
}
